[defaults]
inventory = inventory/localhost.yml
roles_path = roles:../../deploy/roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
display_skipped_hosts = False
deprecation_warnings = True
nocows = 1

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
