[Slice]
IPAddressDeny=any
IPAddressAllow=127.0.0.0/8
IPAddressAllow={{ carrier_gateway_controller_ipv4 }}/32
IPAddressAllow={{ carrier_gateway_sbc1_ipv4 }}/32
IPAddressAllow={{ carrier_gateway_sbc2_ipv4 }}/32
SocketBindDeny=any
SocketBindAllow=ipv4:tcp:{{ carrier_gateway_tls_port }}
SocketBindAllow=ipv4:udp:{{ carrier_gateway_ingress_rtp_start }}-{{ carrier_gateway_ingress_rtp_end }}
