d {{ carrier_gateway_runtime_root }} 0750 root root -
d {{ carrier_gateway_runtime_root }}/lib 0700 10003 10003 -
d {{ carrier_gateway_runtime_root }}/run 0700 10003 10003 -
d {{ carrier_gateway_runtime_root }}/spool 0700 10003 10003 -
d {{ carrier_gateway_state_root }}/asterisk-log 0750 10003 10003 -
d {{ carrier_gateway_state_root }}/asterisk-log/cdr-custom 0750 10003 10003 -
d {{ carrier_gateway_state_root }}/authorization 0700 10003 10003 -
d {{ carrier_gateway_state_root }}/authorization/used 0700 10003 10003 -
d {{ carrier_gateway_state_root }}/authorization/rejected 0700 10003 10003 -
