[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
display_skipped_hosts = False
deprecation_warnings = True
inject_facts_as_vars = False

[ssh_connection]
pipelining = True
