# Managed by the carrier certificate role. Contains no client secret.
AZURE_AUTH_METHOD=msi
AZURE_ENVIRONMENT=public
AZURE_TENANT_ID={{ carrier_certificate_azure_tenant_id }}
AZURE_SUBSCRIPTION_ID={{ carrier_certificate_azure_subscription_id }}
AZURE_RESOURCE_GROUP={{ carrier_certificate_dns_resource_group }}
AZURE_ZONE_NAME={{ carrier_certificate_acme_zone }}
AZURE_TTL=60
AZURE_POLLING_INTERVAL=2
AZURE_PROPAGATION_TIMEOUT=180
