# Managed by the Vivolution Open Edge deployment. Contains no client secret.
AZURE_AUTH_METHOD=msi
AZURE_ENVIRONMENT=public
AZURE_TENANT_ID={{ edge_azure_tenant_id }}
AZURE_SUBSCRIPTION_ID={{ edge_azure_subscription_id }}
AZURE_RESOURCE_GROUP={{ edge_azure_dns_resource_group }}
AZURE_ZONE_NAME={{ edge_azure_dns_zone }}
AZURE_TTL=60
AZURE_POLLING_INTERVAL=2
AZURE_PROPAGATION_TIMEOUT=180
