Package: opensips opensips-tls-module opensips-tls-openssl-module opensips-tlsmgm-module
Pin: version {{ edge_opensips_version_required }}
Pin-Priority: 1001

Package: rtpengine-daemon
Pin: version {{ edge_rtpengine_version_required }}
Pin-Priority: 1001
