# Managed by the Vivolution Open Edge bootstrap.
CONFIG_FILE=/etc/rtpengine/rtpengine.conf
CONFIG_SECTION=rtpengine
PIDFILE=/run/rtpengine/rtpengine-daemon.pid
MANAGE_IPTABLES=no
SET_USER=rtpengine
SET_GROUP=rtpengine
TABLE=-1
NO_FALLBACK=yes
