[directories]
astetcdir => /etc/asterisk
astmoddir => /usr/lib/asterisk/modules
astvarlibdir => /var/lib/asterisk
astdbdir => /var/lib/asterisk
astkeydir => /var/lib/asterisk
astdatadir => /var/lib/asterisk
astagidir => /var/lib/asterisk/agi-bin
astspooldir => /var/spool/asterisk
astrundir => /var/run/asterisk
astlogdir => /var/log/asterisk

[options]
verbose = 2
debug = 0
nofork = yes
runuser = asterisk
rungroup = asterisk
defaultlanguage = en
documentation_language = en_US
hideconnect = yes
lockconfdir = yes
live_dangerously = no
