[VivolutionFixture.csv]
format=dsv
separator_character=,
quote_character="
quote_escape_character="
quoting_method=all
fields=start,answer,end,duration,billsec,disposition,src,dst,channel,dstchannel,uniqueid,linkedid,accountcode,userfield
