[mappings]
VivolutionFixture.csv => "${CDR(start)}","${CDR(answer)}","${CDR(end)}","${CDR(duration)}","${CDR(billsec)}","${CDR(disposition)}","${CDR(src)}","${CDR(dst)}","${CDR(channel)}","${CDR(dstchannel)}","${CDR(uniqueid)}","${CDR(linkedid)}","${CDR(accountcode)}","${CDR(userfield)}"
