# Vivolution isolated no-PSTN fixture runtime directories.
d {{ voice_fixture_runtime_root }} 0750 root root -
d {{ voice_fixture_runtime_root }}/asterisk 0700 10001 10001 -
d {{ voice_fixture_runtime_root }}/asterisk/lib 0700 10001 10001 -
d {{ voice_fixture_runtime_root }}/asterisk/run 0700 10001 10001 -
d {{ voice_fixture_runtime_root }}/asterisk/spool 0700 10001 10001 -
