{
  "allocationId": {{ edge_allocation_id | to_json }},
  "authorizedPbxSourceIpv4Cidrs": {{ edge_pbx_source_ipv4_cidrs | to_json }},
  "clusterId": {{ edge_cluster_id | to_json }},
  "clusterMediaPortEnd": 29999,
  "clusterMediaPortStart": 20000,
  "customerAccountId": {{ edge_customer_account_id | to_json }},
  "generation": {{ edge_generation | int }},
  "m365TenantId": {{ edge_m365_tenant_id | to_json }},
  "nodeFqdn": {{ edge_acme_node_fqdn | to_json }},
  "nodeId": {{ inventory_hostname | to_json }},
  "privateIpv4": {{ edge_private_ipv4 | to_json }},
  "publicIpv4": {{ edge_public_ipv4 | to_json }},
  "pbxMediaDestinationPortEnd": {{ edge_pbx_media_destination_port_end | int }},
  "pbxMediaDestinationPortStart": {{ edge_pbx_media_destination_port_start | int }},
  "rtpengineNgHost": "127.0.0.1",
  "rtpengineNgPort": 2223,
  "serviceInstanceId": {{ edge_service_instance_id | to_json }},
  "slot": {{ edge_slot | to_json }},
  "syntheticTeamsSourceIpv4Cidrs": [],
  "teamsMediaSourceIpv4Cidrs": {{ edge_microsoft_media_source_ipv4_cidrs | to_json }},
  "teamsSignalingSourceIpv4Cidrs": {{ edge_microsoft_signaling_source_ipv4_cidrs | to_json }},
  "teamsTlsPort": 5061,
  "tenantContextId": {{ edge_tenant_context_id | to_json }},
  "tenantListenerPort": 15061,
  "tenantMediaPortEnd": 20255,
  "tenantMediaPortStart": 20000
}
